
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.navbar {
    height: 10rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 3;
    background: #f2ebe9;
    box-shadow: 0 2px 4px rgba(233, 159, 76, 0.5); /* Add shadow effect */
}

.logo {
    object-fit: cover;
    height: 6rem;
    width: 6rem;
    transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1); /* Increasing scale on hover */
}



.menuListItem {
    margin: 1rem 1rem;
    cursor: pointer;
    color: #264143;
    font-size: 25px;
    font-family: 'Philosopher';
}


.menuListItem:hover {
    color: #de5499;
    padding-bottom: 0.5rem;
    border-bottom: solid 3px #e99f4c;
}


.menuButton{
    background: #e99f4c;
    color: #264143;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-right: 20px;
    padding-left: 5px;
    border-radius: 3rem;
    font-family: 'Philosopher';
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
}

.menuButton:hover {
  
    transform: scale(1.1); /* Scale up by 10% on hover */
    box-shadow: 0 0 0 3px rgba(222, 84, 153, 0.5), /* Initial border */
    0 0 0 5px rgba(222, 84, 153, 0.5), /* Middle border */
    0 0 0 8px rgba(222, 84, 153, 0.5); /* Outer border */
    outline: none; /* Remove default outline */
}



.menuButtonIcon {
    object-fit: cover;
    height: 40px;
    width: 50px;
    margin: 10px;
    
}



